.btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
  position: relative;
}

.btn:hover {
  transform: translateY(-2px);
}

.bagCount {
  color: white;
  background-color: rgb(34, 34, 118);
  position: absolute;
  top: 15px;
  left: 18px;
  height: 25px;
  width: 25px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
