.btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: relative;
}

.bagIcon {
  transition: 0.2s ease;
}

.bagIcon:hover {
  transform: translateY(-3px);
}

.bagCount {
  color: white;
  background-color: rgb(34, 34, 118);
  position: absolute;
  transform: translate(10px, -15px);
  height: 24px;
  width: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
