.imgContainer {
  height: 300px;
  width: 250px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.imgContainer > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card > button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  font-weight: 600;
  font-size: 28px;
}

.hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
