.card {
  height: 450px;
}

.imgContainer {
  height: 300px;
  width: 250px;
  margin: auto;
}

.imgContainer > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

details {
  max-height: 100px;
  cursor: pointer;
  overflow-y: auto;
}

.card > button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.purchaseRow {
  display: flex;
  gap: 20px;
  margin: 15px 0px;
}

.price {
  font-weight: 600;
  font-size: 28px;
}

.btn {
  cursor: pointer;
}

.hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
