.home {
  background-image: url('../../assets/home.jpg');
  background-size: cover;
  background-position: 80% 50%; /* Move right, keep vertical center */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.link {
  font-size: 32px;
  height: 70px;
  width: 180px;
  border-radius: 6px;
  background-color: red;
  text-decoration: none;
  cursor: pointer;
  margin: 0 0 20% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in;
}

.link:hover {
  transform: translateY(-4px);
}
