.home {
  background-image: url('../../assets/home.jpg');
  background-size: cover;
  background-position: 80% 50%; /* Move right, keep vertical center */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cta {
  background-color: rgba(255, 255, 255, 0.503);
  width: 400px;
  height: 100px;
}

.link {
  font-size: 32px;
  height: 70px;
  width: 180px;
  border-radius: 6px;
  background-color: rgba(53, 53, 53, 0.622);
  border: 2px solid rgb(53, 53, 53);
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 0 0 15% 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in;
}

.link:hover {
  background-color: rgb(228, 220, 220);
  border: 2px solid rgb(242, 241, 241);
  color: black;
}
