.closeBtn {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  padding: 2px;
  background-color: transparent;
  border: none;
}

.closeBtn:hover {
  color: rgb(60, 60, 60);
}

.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 200;
  animation: showBackDrop 0.2s ease forwards;
}

@keyframes showBackDrop {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.689);
  }
}

.hideBackDrop {
  animation: hideBackDrop 0.2s ease forwards;
}

@keyframes hideBackDrop {
  0% {
    background-color: rgba(0, 0, 0, 0.689);
  }

  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.drawer {
  height: inherit;
  position: absolute;
  right: 0;
  height: 100vh;
  width: 500px;
  padding: 8px;
  background-color: white;
  animation: show 0.2s ease forwards;
}

@keyframes show {
  0% {
    transform: translate(500px);
  }

  100% {
    transform: translateX(0);
  }
}

.hide {
  animation: hide 0.2s ease forwards;
}

@keyframes hide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(500px);
  }
}

.header {
  margin-top: 40px;
}

.products {
  margin-top: 10px;
  height: 65%;
  border: 1px solid;
}

.emptyCart {
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}

.link {
  color: black;
}

.link:hover {
  color: rgb(69, 69, 69);
}

.bag {
  transform: scale(3);
  margin: 40px;
}
