.closeBtn {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  padding: 2px;
  background-color: transparent;
  border: none;
}

.closeBtn:hover {
  color: rgb(60, 60, 60);
}

.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 200;
  animation: showBackDrop 0.2s ease forwards;
}

@keyframes showBackDrop {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.689);
  }
}

.hideBackDrop {
  animation: hideBackDrop 0.2s ease forwards;
}

@keyframes hideBackDrop {
  0% {
    background-color: rgba(0, 0, 0, 0.689);
  }

  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.drawer {
  height: inherit;
  position: absolute;
  right: 0;
  height: 100vh;
  width: 500px;
  background-color: white;
  animation: show 0.2s ease forwards;
}

@keyframes show {
  0% {
    transform: translate(500px);
  }

  100% {
    transform: translateX(0);
  }
}

.hide {
  animation: hide 0.2s ease forwards;
}

@keyframes hide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(500px);
  }
}

.cartContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 8px;
  font-size: 18px;
}

.products {
  flex: 1 1 auto;
  overflow: auto;
  padding: 10px;
}

.emptyCart {
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}

.link {
  color: black;
}

.link:hover {
  color: rgb(69, 69, 69);
}

.bag {
  transform: scale(3);
  margin: 40px;
}

.checkoutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkoutBtn {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 10px 50px;
  font-size: 28px;
  background-color: black;
  border: none;
  color: white;
  width: 100%;
}

.checkoutBtn:hover {
  background-color: rgb(69, 69, 69);
}

.price {
  font-size: 22px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .drawer {
    width: 100%;
  }
}
