.container {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  border: 1px solid black;
  max-width: 900px;
  margin: 0px 10px;
}

.header {
  margin: 4px 8px;
}

.main__content {
  display: flex;
  flex-wrap: wrap;
  min-height: 60vh;
  min-width: 320px;
}

.form__container {
  flex: 1 0 320px;
}

.formViewport {
  border: 1px solid black;
  overflow: hidden;
  width: 100%;
}

.formSlider {
  width: 300%;
  display: flex;
  flex-wrap: wrap;
  transition: 0.5s ease;
}

.formSlider > fieldset {
  flex-shrink: 1;
  width: calc(100% / 3);
  min-width: 0;
  border: none;
  margin: 0;
  padding: 10px;
  min-inline-size: 0;
}

.formSlider > fieldset > legend {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0.5em 0px;
}

.row > input {
  border: 1px solid rgb(161, 161, 161);
  border-radius: 15px;
  padding: 4px 10px;
  flex: 1 0 auto;
}

.formCircle {
  cursor: pointer;
  padding: 4px;
  border-radius: 100%;
  border: 1px solid black;
  background-color: transparent;
  margin: 2px;
}

.formCircleActive {
  background-color: black;
}

.products {
  flex: 0 1 300px;
}

.pay {
}
