.nav {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.673);
  height: 80px;
  transition: top 0.2s ease;
  z-index: 100;
}

.desktopNav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav.scrolled {
  background-color: rgb(255, 255, 255);
  top: 0;
}

.ul {
  display: flex;
  gap: 40px;
  margin: 0;
  padding-left: 40px;
}

.ul > li {
  list-style: none;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-right: 20px;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hamburgerIcon {
  transition: 0.2s ease;
}

.hamburgerIcon:hover {
  transform: translateY(-3px);
}

@media screen and (max-width: 600px) {
  .ul > li {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .logo {
    transform: translateX(0);
    left: 20px;
  }
}
