.nav {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.673);
  height: 80px;
  transition: top 0.2s ease;
}

.nav.scrolled {
  background-color: rgb(255, 255, 255);
  top: 0;
}

.ul {
  display: flex;
  gap: 40px;
  margin: 0;
  padding-left: 40px;
}

.ul > li {
  list-style: none;
}

.ul > li > a {
  text-decoration: none;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cartBtn {
  padding-right: 40px;
}
